
extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li Прибуття корабля
    form(id='' name='shop-add-form' class='form-inline' action='/addShipToPier' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Корабель
            div(class='col-md-6')
                select(name = 'indexShip')
                    each val, index in ships
                        option= index +'Корабель: ' + val.name + '. Номер: ' + val.number + '. Країна: ' + val.country + '. Тоннажність: ' + val.weight
        div(class='')
            div(class='col-md-3')
                label(for='') Пристань
            div(class='col-md-6')
                select(name = 'indexPier')
                    each val, index in piers
                        option= index + 'Пристань № ' + val.number + '. Порт:' + val.port.name + '. Максимальна місткість: ' + val.capacity
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Add
        h4= info
    


    div(class='breadcrumb')
        li Відбуття корабля
    form( name='shop-add-form' class='form-inline' action='/deleteShipFromPier' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Пристань
            div(class='col-md-6')
                select(name = 'indexPierr')
                    each val, index in piers
                        option= index + 'Пристань № ' + val.number + '. Порт:' + val.port.name + '. Максимальна місткість: ' + val.capacity
        div(class='')
            div(class='col-md-3')
                label(for='') Корабель
            div(class='col-md-6')
                select(name = 'indexShipp')
                    each val, index in ships
                        option= index +'Корабель: ' + val.name + '. Номер: ' + val.number + '. Країна: ' + val.country + '. Тоннажність: ' + val.weight

        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Delete
        h4= info1


block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')
